img:hover{
    border: 2px solid #ffff;
    cursor: pointer;
}
.logo{
    height: 40px;
    width: 40px;
}

img{
    width: 50vw;
}

.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

.altura{
    height: 100px;
}

